.App {
  text-align: center;
}

* {

  padding: 0;
  margin: 0;
}


/*---*||||||||FONTS||||||||*--*/

@font-face {
  font-family: 'chalk';
  src: url('fonts/Chalk-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'chalk2';
  src: url('fonts/chalkboard.ttf') format('truetype');

}




body {

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-image: url(/tiktoktoe-pexels-pixabay-220051.jpg);
  background-position: center center;

  background-size: cover;
  font-family: 'chalk';
  background-color: #fff;
  padding-top: clamp(0px, 5%, 5px);
  padding-bottom: clamp(0px, 5%, 5px);
  margin-top: 1%;


}



/*---*||||||||INNER CONTAINER||||||||*--*/
#inner-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 90vh;
  width: clamp(320px, 400px, 600px);
  /* Using CSS clamp */

  /* Adding a max-width as a fallback */
  background-color: #333;
  color: white;
  border-radius: 20px 20px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 1px black;

}

#inner-container p {
  font-family: 'chalk2';
}


/*---*||||||||LOGO||||||||*--*/

#score-keeper-logo {
  display: flex;
  font-family: 'chalk';

  background-color: rgb(82, 69, 53);
  border-radius: 20px 20px 0px 0px;



  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);

  width: 100%;
  height: clamp(50px, 100px, 150px);
  padding: 3% 0;
  margin: 0 auto;

  background-image: url(/score-keeper-white-01.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid #000;
}


/*---*||||||||PLAYER 1 and 2 TEXT||||||||*--*/

#players {

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-size: clamp(.5rem, 2vw, 4rem);


}

#player-1 {
  display: grid;
}

#player-1 p,
#player-2 p {
  width: 100%;
}

/*---*||||||||CHALK MARKS||||||||*--*/

#marks {

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: clamp(-100%, 0%, -20%);

}


#mark-1 img {
  width: clamp(50px, 50%, 500px);
  margin-left: clamp(40px, 5%, 35px);
}

#mark-2 img {
  width: clamp(50px, 50%, 500px);
  margin-left: clamp(40px, 5%, 35px);
}


/*---*||||||||COUNTER DISPLAY||||||||*--*/

#counter-display {

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

}


#counter-display1,
#counter-display2 {
  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 4rem;


  height: clamp(100px, 0%, 150px);
  margin: 0 auto;
  width: clamp(5px, 100px, 500px);

  background-color: #333;
  color: rgb(255, 255, 255);

  border: 25px solid rgba(255, 255, 255, .8);
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 40;
}


/*---*||||||||BUTTONS||||||||*--*/

button {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1%;

  box-shadow: 2px 1px 2px 1px black;
  background-color: grey;
  color: #333;
  font-size: 2rem;
  background-color: whitesmoke;

}


#player-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;


}


#player-buttons>#player-1-buttons {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 70%;
  margin: 0 auto;


}

#player-buttons>#player-2-buttons {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 70%;
  margin: 0 auto;
}


/*---*||||||||PLUS and MINUS and RESET||||||||*--*/

#plus {
  background-image: url(/plus-01.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#minus {
  background-image: url(/minus.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


#reset {
  background-image: url(/chalk-refresh-01.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10%;
  width: 50px;
  height: 50px;
}


#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;



}